{% extends "base.html" %}
{% block container %}



<div class="jumbotron card card-image" style="background-image: url(https://pi-ltsp.net/images/desktop-background.png);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h1 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Всякие туры</strong></h1>
        <p class="lead">Для тех, кого отвлекают дома</p>
            <p class="mt-5 w-50 mx-auto">Лучшие направления,где никто не будет вам мешать сидеть на берегу и изучать программирование, дизайн, разработку игр и управление продуктами</p>


    </div>
  </div>
</div>

    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">
{% for key,value in tours.items %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ value.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ value.title }}</h5>
             <p class="card-text">{{ value.description }}</p>
                <a href="/tour/{{ key }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>
        {% endfor %}
        </div>

{% endblock %}